io.skysail.server.features.GuiFeatures.SHOW_BREADCRUMBS="true"
service.pid="io.skysail.server.features.repositories.ConfigAdminFeatureStateRepository"
io.skysail.server.features.SecurityFeatures.USE_CREDENTIALS_CACHE_FEATURE="true"
io.skysail.server.features.SecurityFeatures.ALLOW_ORIGIN_FEATURE="true"
felix.fileinstall.filename="file:/Users/carsten/git/skysail/skysail.product.demo/config/common/io.skysail.server.features.repositories.ConfigAdminFeatureStateRepository.cfg"
